body{
  height: 100vh;
  width: 100vw;
  font-family: epilog;
  padding: 0;
  margin: 0;
  background-color: var(--color);
}
.container{
 
  position: sticky;
  display: flex;
  transform: translate(0%,-10%);
  width: 95%;
  height: 5%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7vw;
  

}
.element{
    font-size: 30px;
   cursor: pointer;
   opacity: 70%;
   padding-left: 2%;
   position: absolute;
}
.element:hover{
  opacity: 100%;
}
.arrow{
  cursor: pointer;
}  
.logo{
  position: relative;
    width: 5%;
    top: 4.2%;
    left: 3%;
}
.features{
  left: 10%;
}
.company{
  position: relative;
  left: -2%;
}
.careers{
  position: relative;
  left: -20%;

}
.about{
  position: relative;
  left: -38%;
}
.login{
  position: relative;
  left: -10%;
}
.register{
 right: 1%;
 border: 2px solid black;
 height: 100%;
 border-radius: 1vw;
 width: 5%;
 text-align: center;
 padding: 0.5%;
 
}
#activate,#activate1,#activate2{
  display: none;
}
.close,.open{
  display: none;
}
.content{
  display: flex;
  width: 80vw;
  height: 80%;
  justify-content: space-between;
  margin-top: 0%;
  background-color: brown;
  margin: 5% 10%;
}
.pic1{
  
  height: 100%;
  width: auto;
  position: relative;
}
